/* Utils */

.container {
	max-width: 1000px;
	margin: 0 auto;
}

.clearfix::after {
	content: '';
	clear: both;
	display: table;
}

.pr10{
	padding-right: 10px;
}
.pr20{
	padding-right: 20px;
}
.pr30{
	padding-right: 30px;
}
.pr40{
	padding-right: 40px;
}
.pr50{
	padding-right: 50px;
}